.home_wrap {
	
}
.home_wrap .quick_nav_wrap {
	margin: 1rem 0;
}
.home_wrap .quick_nav_wrap .col-xs-3 {
	text-align: center;
}
.home_wrap .quick_nav_wrap .col-xs-3>div:nth-child(2) {
	margin-top: 0.8rem;
	color: #777;
}
.home_wrap .icon_wrap {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	background-color: #F2383E;
	border-radius: 2rem;
	color: #FFF;
}

.home_wrap .send {
	background-color: #FFCB2B;
}
.home_wrap .fix {
	background-color: #FF6600;
}
.home_wrap .search {
	background-color: #24BFFF;
}