.user_wrap {
	background-color: #FFF;
}
.user_wrap header {
	height: 15rem;
	background-color: green;
	text-align: center;
	opacity: .3;
}
.user_wrap header .user_icon {
	display: inline-block;
	width: 7rem;
	height: 7rem;
	border: 2px solid #FFF;
	border-radius: 7rem;
	margin-top: 2.5rem;
	font-size: 4.5rem;
	line-height: 7rem;
	color: blue;
	opacity: 1;
	background-color: #FFF;
}
.user_wrap .user_state_wrap {
	margin-top: 1.5rem;
	color: #FFF;
	font-size: 1.2rem;
}
.user_wrap .user_state_wrap span {
	margin: 0 1.5rem;
}

.user_wrap ul.user_opt {
	
}
.user_wrap ul.user_opt li {
	height: 4rem;
	line-height: 4rem;
	border-bottom: 1px solid #666;
	font-size: 1.2rem;
}
.user_wrap ul.user_opt li span {
	font-size: 2rem;
	color: blue;
	margin: 0 1rem;
	vertical-align: middle;
}
.register_wrap {
	/*padding: 1.2rem;*/
}
.register_wrap .register_head {
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.8rem;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	position: relative;
}
.register_wrap .register_head button {
	font-size: 1rem;
	float: left;
	height: 2rem;
	line-height: 2rem;
	width: 3.5rem;
	text-align: center;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -1rem;
}
.register_wrap form {
	padding: 1.2rem;
}
.register_wrap .label_city, .register_wrap .label_area {
	width: 15%;
	display: inline-block;
}
.input_city, .input_area {
	width: 75%;
	display: inline-block;
	/*padding: 0;*/
	box-sizing: border-box;
}
.register_wrap .reg_info {
	padding: 0 2rem;
	border-bottom: 2px dotted #185598;
}
.register_wrap .reg_info em {
	color: red;
	text-decoration: underline;
	margin: 0 5px;
}

.order_tab_wrap {
	padding: 1rem;
}
.order_tab_wrap .tab_nav {
	margin-bottom: 1rem;
}
.order_tab_wrap .row {
	border: 1px solid #DDDDDD;
	border-radius: 6px;
	overflow: hidden;
}
.order_tab_wrap .order_query {
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.2rem;
	font-weight: bold;
}
.order_tab_wrap .select {
	background-color: #337AB7;
	color: #FFF;
}
.order_tab_wrap .tab_content {
	font-size: 12px;
}
.order_tab_wrap .tab_content .row {
	border-width: 0;
	border-radius: 0;
}

.order_tab_wrap .tab_content .order-list>li {
	background-color: #F5F5F5;
	margin-bottom: 1rem;
}
.order_tab_wrap .tab_content .order-list>li ul {
	margin: 0.5rem 0;
}
.order_tab_wrap .tab_content .order-list>li ul li{
	padding: 0;
}
.order_tab_wrap .tab_content .order-list>li ul .li_label {
	width: 29%;
	font-weight: bold;
	text-align: right;
}
.order_tab_wrap .tab_content .order-list>li ul .li_text{
	width: 69%;
	text-align: right;
}