.user_wrap {
	background-color: #FFF;
}
.user_wrap header {
	height: 15rem;
	background-color: green;
	text-align: center;
	opacity: .3;
}
.user_wrap header .user_icon {
	display: inline-block;
	width: 7rem;
	height: 7rem;
	border: 2px solid #FFF;
	border-radius: 7rem;
	margin-top: 2.5rem;
	font-size: 4.5rem;
	line-height: 7rem;
	color: blue;
	opacity: 1;
	background-color: #FFF;
}
.user_wrap .user_state_wrap {
	margin-top: 1.5rem;
	color: #FFF;
	font-size: 1.2rem;
}
.user_wrap .user_state_wrap .row div[class^="col-xs"]:nth-child(1) {
	text-align: right;
}
.user_wrap .user_state_wrap .row div[class^="col-xs"]:nth-child(3) {
	text-align: left;
}
/*
.user_wrap .user_state_wrap span {
	margin: 0 1.5rem;
}*/

.user_wrap ul.user_opt {
	
}
.user_wrap ul.user_opt li {
	height: 4rem;
	line-height: 4rem;
	border-bottom: 1px solid rgba(0,0,0,.2);
	/*box-shadow: 0 0 2px rgba(0,0,0,.2);*/
	font-size: 1.2rem;
}
.user_wrap ul.user_opt li span {
	color: #FFF;
	margin: 0 1rem;
	vertical-align: middle;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	width: 2rem;
	border-radius: 1rem;
	background-color: #FFCB2B;
	text-align: center;
}
.user_wrap ul.user_opt a {
	color: #777;
	font-size: 1rem;
}
.user_wrap ul.user_opt li span i {
	font-size: 1rem;
}

.order_icon {
	background-color: #24BFFF!important;
}
.addr_icon {
	/*background-color: #24BFFF!important;*/
}
.after_sale_icon {
	background-color: #FF6600!important;
}
.user_wrap ul.user_opt.order_icon
.register_wrap {
	/*padding: 1.2rem;*/
}
.register_wrap form {
	padding: 1.2rem;
}
.register_wrap .label_city, .register_wrap .label_area {
	width: 15%;
	display: inline-block;
}
.input_city, .input_area {
	width: 75%;
	display: inline-block;
	/*padding: 0;*/
	box-sizing: border-box;
}
.register_wrap .reg_info {
	padding: 0 2rem;
	border-bottom: 2px dotted #185598;
}
.register_wrap .reg_info em {
	color: red;
	text-decoration: underline;
	margin: 0 5px;
}

.order_tab_wrap {
	
	position: relative;
}
.order_tab_wrap .tab_nav {
	position: fixed;
	width: 100%;
	background-color: #FFF;
	top: 0;
	z-index: 10;
}
.order_tab_wrap .row {
	border-bottom: 1px solid #DDDDDD;
	/*border-radius: 6px;
	overflow: hidden;*/
	
}
.order_tab_wrap .order_query {
	text-align: center;
	height: 3.2rem;
	line-height: 3.2rem;
	font-size: 1.2rem;
	font-weight: bold;
}
.order_tab_wrap .select {
	background-color: #337AB7;
	color: #FFF;
}
.order_tab_wrap .tab_content {
	margin-top: 3.5rem;
	padding: 1rem;	
}	
.order_tab_wrap .tab_content,
.order_tab_wrap .modal-content ul {
	font-size: 12px;
}
.order_tab_wrap .tab_content .row {
	border-width: 0;
	border-radius: 0;
}

.order_tab_wrap .tab_content .order-list>li {
	background-color: #F5F5F5;
	margin-bottom: 1rem;
}
.order_tab_wrap .tab_content .order-list>li ul,
.order_tab_wrap .modal-content ul {
	margin: 0.5rem 0;
}
.order_tab_wrap .tab_content .order-list>li ul li, 
.order_tab_wrap .modal-content ul li{
	padding: 0;
}
.order_tab_wrap .tab_content .order-list>li ul .li_label, 
.order_tab_wrap .modal-content .li_label{
	width: 32%;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}
.order_tab_wrap .tab_content .order-list>li ul .li_text, 
.order_tab_wrap .modal-content .li_text{
	width: 65%;
	text-align: right;
	padding-right: 2%;
	vertical-align: top;
}